backend/step_functions/state_machine.asl.json
{
  "Comment": "FDMA Disruption Orchestrator",
  "StartAt": "ImpactedPNRFinder",
  "States": {
    "ImpactedPNRFinder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:impacted_pnr_finder",
      "Next": "OptionsScoring"
    },
    "OptionsScoring": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:options_scoring",
      "ResultPath": "$.options",
      "Next": "HasOptions"
    },
    "HasOptions": {
      "Type": "Choice",
      "Choices": [{ "Variable": "$.options.length", "NumericGreaterThan": 0, "Next": "CreateOffer" }],
      "Default": "IssueVoucher"
    },
    "CreateOffer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:create_offer",
      "Next": "NotifyPassenger"
    },
    "NotifyPassenger": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT:function:notify_passenger",
      "End": true
    },
    "IssueVoucher": {
      "Type": "Pass",
      "End": true
    }
  }
}
